<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<title>Polynome Web Interface</title>
<%= javascript_include_tag '/perl/tutorial' %>
</head>
<body id="bodytag">
<%= render :partial => "shared/analytics" %>

<div id="notification"><%= flash[:notice] %></div>
<%= yield %>	
</body>
</html>
